{% extends 'layout.html.twig' %}
{% block navbar %}
    <link rel="stylesheet" href="/assets/css/carousel.css">
    {% include 'Components/navbar.html.twig' %}
{% endblock %}
{% block stylesheet %}
<style>
.navbar{
  background-color: #23465A;
}

</style>
{% endblock %}


{% block content %}
    <h1>Mon compte</h1>

{# ------------------------------------------------------------------------------------------------------------------------ #}
    
<div class="row no-gutters" id="top-body">
    <div class="row col-12 col-sm-7" id="A">

        <div class="col-12 col-sm-4 offset-1" id="A1">
            <img class='profile-pic' src='https://picsum.photos/200/300'> {# A changer quand la BDD sera en place#}
        </div>

        <div class="col-12 col-sm-6 offset-1"id="A2">
            
            <div id="A2a">
            NOM USER
            </div>
            
             <div id="A2b">
             NOMBRE PLAYLISTS
            </div>
        
        </div>
    </div>


    <div class="row col-10 offset-2 offset-sm-0 col-sm-5" id="B">
        <div class"col-12 col-sm-7 offset-1" id="B1">
            <div class="card info-card" >
            <div class="card-header">
                Information utilisateur
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Pseudo</li>
                <li class="list-group-item">Email</li>
                <li class="list-group-item">Date d'inscription</li>
            </ul>
            </div>
        </div>
        
        <div class="col-12 col-sm-3 offset-1" id="B2">
        <button type="button" class="btn btn-primary modify-account" style:"margin : 2% 0;">Modifier compte</button>    
        </div>

    </div>

</div>

<hr>

<div class="row h-25" id="bottom-body">
    <div class="col-11" id="A" style="margin-left : 2%">
        <a href="/myPlaylist/create" class="btn btn-info" role="button">Créer playlist</a> 
    </div>
    <hr>
    <div class="col-12" id="B">

{# ------------------------------------------------------------------------------------------------------------------------ #}


        {% if playlistsTwig %}
           
           {# Si il y a des données dans le tableau playlistTwig
           la condition est remplie et une boucle traversant
           le tableau permet d'afficher les images des playlists
           dans la div carousel #}

            <div class="carousel">
                <div class="carousel-row">
            {% for playlist in playlistsTwig %}
                    <a class="carousel-tile" href="/myPlaylist/show/?id={{ playlist.id }}" style="background : url(/{{ playlist.image }}); background-size: cover;">
                    </a>
            {% endfor %}
                </div>
            </div>

      </div>
    </div>
        {% else %}

        <p style='color : white;'> Aucune playlist existante </p>
        {% endif %}

{# ------------------------------------------------------------------------------------------------------------------------ #}


</div>

    {% include 'Components/mediaplayer.html.twig'%}



{# ------------------------------------------------------------------------------------------------------------------------ #}

{% endblock %}




