{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Components/header.html.twig'%}
{% endblock %}

{% block content %}
    <h1>Mon compte</h1>

    <button type="button" class="btn btn-primary">Créer playlist</button>
{% endblock %}

{% block footer %}
    {% include 'Components/footer.html.twig'%}
{% endblock %}
