{# Formulaire de base pour s'inscrire et se connecter #}

    {# Formulaire "d'accueil" pour s'inscrire ou se connecter #}

    <div id="logreg-forms">
        <form class="form-signin" method = 'POST' action ="">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
                Bienvenue sur MasterCloud
            </h1>

            {% if error is not empty %}
                <p class="text-danger text-center">{{ error }}</p>
            {% endif %}

            <div class="social-login">
                <a href='/login/loginDiscord' class="btn facebook-btn social-btn col-6 offset-3 mb-2" type="button"><span><i class="bi bi-discord"></i></span> </a>
                <a href='/login/loginGoogle' class="btn google-btn social-btn col-6 offset-3" type="button"><span><i class="fab fa-google-plus-g"></i></span> </a>
            </div>
            <p style="text-align:center; color:white;"> OU </p>
            <input type="email" id="inputEmail" name ="email" class="form-control" placeholder="Votre email" required="" autofocus="">
            <input type="password" id="inputPassword" name ="password" class="form-control" placeholder="Votre mot de passe" required="">
            
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Connexion</button>

            <button class="btn btn-primary btn-block" type="submit" id="btn-signup"><i class="fas fa-user-plus"></i> Créer un nouveau compte </button>
        </form>

     {# Modal formulaire d'inscription #}   

        <form action="/login/register" class="form-signup" method='POST'>
                <div class="social-login">
                    <a href='/login/loginDiscord' class="btn facebook-btn social-btn1 col-6 offset-3 mb-2" type="button"><span><i class="bi bi-discord"></i></span> </a>
                    <a href='/login/loginGoogle' class="btn google-btn social-btn1 col-6 offset-3" type="button"><span><i class="fab fa-google-plus-g"></i></span> </a>
                </div>
                <p style="text-align:center">OU</p>

                <input type="text" id="user-name" class="mb-2 form-control" placeholder="Nom" required="" autofocus="" name='user'>
                <input type="email" id="user-email" class="mb-2 form-control" placeholder="Adresse email" required autofocus="" name='email'>
                <input type="password" id="user-pass" class="mb-2 form-control" placeholder="Mot de passe" required autofocus="" name='password1'>
                <input type="password" id="user-repeatpass" class="mb-2 form-control" placeholder="Répétez le mot de passe" required autofocus="" name='repeatpassword'>

                <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> S'inscrire</button>
                <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Retour</a>
        </form>         
    </div>


{# ----------------------------------------------------------FIN FORMULAIRE------------------------------------------------------------------------------- #}




{# ----------------------------------------------------- FIN STYLE CSS ----------------------------------------------------------------------------- #}


{# --------------------------------------------------- Script JS pour modals ------------------------------------------------------------------------ #}
    
    <script>
        function toggleResetPswd(e){
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle() // display:block or none
        }

        function toggleSignUp(e){
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle(); // display:block or none
            $('#logreg-forms .form-signup').toggle(); // display:block or none
        }

        $(()=>{
            // Login Register Form
            $('#logreg-forms #cancel_reset').click(toggleResetPswd);
            $('#logreg-forms #btn-signup').click(toggleSignUp);
            $('#logreg-forms #cancel_signup').click(toggleSignUp);
        })
    </script>
