{% extends 'layout.html.twig' %}
{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}
    <h1>Bienvenue</h1>
    {% include 'Login/form-login.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'Components/footer.html.twig'%}
{% endblock %}

