{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Components/header.html.twig'%}
{% endblock %}

{% block content %}
    <h1>Login/Signup</h1>
    {% include 'Components/sidebar.html.twig'%}
    {% include 'Login/form-login.html.twig' %}
    {% include 'Login/form-signup.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'Components/footer.html.twig'%}
{% endblock %}

