{% extends 'layout.html.twig' %}
{% include 'Components/header.html.twig'%}


{% block content %}
    <form>Formulaire inscription
    </form>

    <form>Formulaire connexion
    </form>
{% endblock %}

{% include 'Components/footer.html.twig'%}

