{% block content %}

            
            <div class="accueil carousel" style="overflow: hidden;">
                <div class="carousel-row">
					{% for playlist in playlistsTop3 %}
							<a 
								class="carousel-tile" 
								href="/myPlaylist/show/{{ playlist.id }}" 
								style="background : url(/{{ playlist.image }}); background-size: cover;"
							>
							</a>
					{% endfor %}
                </div>
            </div>



{% endblock %}