{% block content %}
<div class="carouselPres row mb-5">
    <div class="infocardContainer">
        <div id="main">
            <img src="/assets/images/play.jpg"></img>
        </div>
        <div id="textbois">
            <h2>Crée tes playlists</h2>
            <p>Inscris toi gratuitement</p>
            <p>Ajoute le lien Youtube de tes musiques préférées</p>
            <p>Profite sans limite</p>
        </div>
    </div>
    <div class="infocardContainer">
        <div id="main">
            <img src="/assets/images/stopmain1.jpg"></img>
        </div>
        <div id="textbois">
            <h2>Oublie les pubs</h2>
            <p>Ecoute tes playlists sans interruption</p>
        </div>
    </div>
    <div class="infocardContainer">
        <div id="main">
            <img src="/assets/images/partage2.jpg"></img>
        </div>
        <div id="textbois">
            <h2>Partage tes créations</h2>
            <p>Ecoute les playlists des autres utilisateurs</p>
            <p>Like ou dislike les playlists</p>
        </div>
    </div>
</div>

{% endblock %}