{% extends 'layout.html.twig' %}
{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}
    {% include 'Home/carousel_top.html.twig'%}

    <div class='row'>
        {% include 'Home/carousel_presentation.html.twig'%}
    </div>
{% endblock %}

{% block footer %}
    {% include 'Components/footer.html.twig'%}
{% endblock %}