<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://kit.fontawesome.com/ecbff98221.js" crossorigin="anonymous"></script>
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">

		{# Classes Bootstrap #}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<link rel="stylesheet" href="/assets/css/caroussel.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		{% block stylesheet %}{% endblock %}
		{# JQuery #}
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	</head>

	<body>
	    <div id="container">
			<video id="background_video" autoplay muted loop>
				<source src="/assets/Vvideo2.mp4" type="video/mp4">
				<div id="video_cover"></div>
				<div id="overlay"></div>
			</video>
    	</div>

		<div class="container-fluid p-0 position-fixed overflow-auto d-flex flex-column h-100">
			{% include 'Components/navbar.html.twig'%}

			<div class="row flex-grow-1 m-0">
				{% if with_sidebar %}
					<div class="sidebar col-3 col-lg-2 col-md-0 col-sm-0 pl-0 shadow-lg rounded">
						{% include 'Components/sidebar.html.twig' %}
					</div>
				{% endif %}

				<div class="col-12 {% if with_sidebar %}col-9 col-lg-10{% endif %} p-0 h-100 d-flex flex-column">
					<div class="flex-grow-1 mx-4 py-4 px-2" style="background-color:#1818189c;">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>

			{% include 'Components/footer.html.twig' %}

			{# Script Bootstrap/Popper #}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script src="/assets/js/app.js"></script>
			{% block javascript %}{% endblock %}
        </div>
	</body>
</html>
