{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}
    <div class="col-12">
        <h1> Mes playlists </h1>       
        {# {{ dump(playlistsTwig) }} #}
        {# Test boucle pour rendu thumbnails de playlist #}
         <div class="row">
        {% for playlist in playlistsTwig %}
            {% for playlistElement in playlist %}
                        {{ dump(playlistElement) }}
                {# <div class="card mt-4 mb-4 ml-3 mr-3" style="width: 18rem;">
                <img src="/{{ playlistElement }}"  class="card-img">
                </div> #}
              {% endfor %}
        {% endfor %}
        </div>
{% endblock %}

{% block footer %}
    {% include 'Components/footer.html.twig'%}
{% endblock %}