/*---------------- DEBUT Couleur site ----------------*/
.navbar{
  background-color: #23465A;
}

.bg-none{
  background: none;
}

footer{
  background-color: none;
}
div ul li a {
  color: #EAF0FF;
}

h1 {
  color:#EAF0FF;
}

.sidebar {
  background-color: #000;
}

body {
  background-color:#181818;
}

/*---------------- FIN Couleur site----------------*/

/*---------------- DEBUT navbar ----------------*/

.navbar-brand img {
  height: 40px;
  margin: 0px;
}

.searchBar {
  width: 800px;
  background: #181818;
  border-color:#424242;
}


.searchButton {
  background: #424242;
  border-color:#424242;
}

/*---------------- FIN navbar ----------------*/

/*---------------- Carousel Top ----------------*/
.MultiCarousel 
{ 
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position:relative;
}
.MultiCarousel .MultiCarousel-inner 
{
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item 
{
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div 
{ 
  text-align: center; 
  padding:10px; 
  margin:10px; 
  background:#f1f1f1; 
  color:#666;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst 
{ 
  position:absolute; 
  border-radius:50%;
  top:calc(50% - 20px); 
}
.MultiCarousel .leftLst 
{ 
  left:0; 
}
.MultiCarousel .rightLst 
{ 
  right:0;
}

  .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over 
  { 
    pointer-events: none; 
    background:#ccc; 
  }
  
/*---------------- Fin Carousel Top ----------------*/

/*---------------- Carousel présentation ----------------*/
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.presentation_home{
background-color: none;
}

#carouselExampleIndicators{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#carouselExample{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.carousel-inner {
  margin-bottom: 50px;
}

.carousel-item h1 {
  width: auto;
  height: auto;
  text-align: center;
}

.carousel-item img {
  text-align: center;
}

/*---------------- FIN Carousel présentation ----------------*/

/*---------------- DEBUT mon Compte ----------------*/

/* Rend la photo de profil ronde */

.profile-pic
{
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#top-body
{
  height: 60vh;
}
/* Bouton 'modifier' responsive pour sa marge du haut */

@media (max-width: 580px) {
  .modify-account
  {
    width: 35vw;
    margin : 5% 0% 0 0%;
  }

  .info-card
  {
    width: 50vw;
  }
}

@media (min-width: 580px) and (max-width: 720px) {
  .modify-account
  {
    margin : 30% 0 0 0;
  }
}


/*---------------- FIN mon Compte ----------------*/
/* ---------------------- MEDIA PLAYER -------------------------*/

.media-controls {
    align-items: center;
    background: #23465A;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.button-icons {
    background-color: #59788a;
    border-radius: 100%;
    margin-bottom: 4px;
    margin-top: auto;
    padding: 16px;
}

.media-buttons {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.media-button {
    background-color: transparent;
    border: none;
    align-items: center;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (min-width: 421px)
{
  
  .media-button {
    padding: 12px;
}
}

.media-progress {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.play-pause
{
  font-size: 7rem;
}

@media (max-width: 1000px)
{
  
  #volume-input
  {
    width: 8rem;
  }
}

@media (max-width: 800px)
{
  
  #volume-input
  {
    width: 6rem;
  }
}

@media (max-width: 700px)
{
  
  .play-pause
  {
    font-size: 6rem;
  }
}

@media (max-width: 600px)
{
  
  #volume-input
  {
    width: 4rem;
  }

    .play-pause
  {
    font-size: 5rem;
  }
}

.back-button .button-icons, .skip-button .button-icons {
    background-color: transparent;
    color: #ffffff;
    font-size: 2em;
}

.box
{
  width: 74px;
  height: 74px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent white;
  transition: all 100ms ease-in-out;
}


.pause{
  border-style: double;
  border-width:0px 0px 0px 60px;
}
/* input[type=range] {
  outline: none;
  padding: 0;
  border-radius: 10px;
  cursor: pointer; 
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5e00), color-stop(100%, #ff5e00));
  background-size: 50% 100%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 28px;
  border: 0;
  background: #fff;
  border: 1px solid #777;
  border-radius: 8px;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
}*/

input[type=range]{
  height: 2px;
  margin: auto;
}

input[type=range].mediaplayer-bar
{
  opacity: .8;
  margin-top: 24px;
  width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 800px)
{
  
  #volume-input
  {
    width: 6rem;
  }
}

@media (max-width: 600px)
{
  
  #volume-input
  {
    width: 4rem;
  }

}

.back-button .button-icons, .skip-button .button-icons {
    background-color: transparent;
    color: #ffffff;
    font-size: 2em;
}
/* input[type=range] {
  outline: none;
  padding: 0;
  border-radius: 10px;
  cursor: pointer; 
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5e00), color-stop(100%, #ff5e00));
  background-size: 50% 100%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 28px;
  border: 0;
  background: #fff;
  border: 1px solid #777;
  border-radius: 8px;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  -webkit-appearance: none;
}*/

input[type=range]{
  height: 2px;
  margin: auto;
}

input[type=range].mediaplayer-bar
{
  opacity: .8;
  margin-top: 24px;
  width: 100%;
  margin-bottom: 20px;
}

/* ---------------------- MEDIA PLAYER -------------------------*/



/*---------------- SideBar ----------------*/

.sidebar{
  padding:0;
  height: auto;
  display: flex;
}

.categorie{
  display: block;
  position: fixed;
  white-space: normal;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  letter-spacing: .2rem;
}

a:visited {color: #FFFF;}

.sidebar a:hover {
  color: #23465A;
  text-decoration: underline overline #23465A

}

h3{
  text-align: center;
}

.logo{
  padding: 5%;
  justify-content: center;
}


/*---------------- FIN SideBar----------------*/

/*---------------- Début Video Background----------------*/


#container {
  overflow: hidden;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
}

#background_video {
  position: absolute;

  top: 50%; left: 50%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  height: 100%; width: 100%;
}

#video_cover {
  position: absolute;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  background: url('../Vvideo2.mp4') no-repeat;
}

#container {
  height: 100%;
}

#overlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
}
/*---------------- Fin Video Background----------------*/

/*----------------- DEBUT Fichier Logout---------------*/

h5 p {
  color:#ccc;
}

.cardLogout {
  background-color:#23465A;
}

