/*---------------- Carousel Top ----------------*/
    .MultiCarousel 
    { 
      float: left;
      overflow: hidden;
      padding: 15px;
      width: 100%;
      position:relative;
    }
    .MultiCarousel .MultiCarousel-inner 
    {
      transition: 1s ease all;
      float: left;
    }
    .MultiCarousel .MultiCarousel-inner .item 
    {
      float: left;
    }
    .MultiCarousel .MultiCarousel-inner .item > div 
    { 
      text-align: center; 
      padding:10px; 
      margin:10px; 
      background:#f1f1f1; 
      color:#666;
    }
    .MultiCarousel .leftLst, .MultiCarousel .rightLst 
    { 
      position:absolute; 
      border-radius:50%;
      top:calc(50% - 20px); 
    }
    .MultiCarousel .leftLst 
    { 
      left:0; 
    }
    .MultiCarousel .rightLst 
    { 
      right:0;
    }

      .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over 
      { 
        pointer-events: none; 
        background:#ccc; 
      }


/*---------------- Fin Carousel Top ----------------*/

/*---------------- Carousel présentation ----------------*/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: darkgrey;
}

#carouselExampleIndicators{
    width: 100%;
    margin: 0 auto;
    /* margin-top: 0px; */
    text-align: center;
}

.carousel-inner {
    margin-bottom: 50px;
}

.carousel-item h1 {
    width: 100%;
    height: auto;
    text-align: center;
}

.carousel-item img {
    text-align: center;
}

/*---------------- FIN Carousel présentation ----------------*/

/*---------------- DEBUT mon Compte ----------------*/

/* Rend la photo de profil ronde */

.profile-pic
{
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#top-body
{
  height: 60vh;
}
/* Bouton 'modifier' responsive pour sa marge du haut */

@media (max-width: 580px) {
  .modify-account
  {
    width: 35vw;
    margin : 5% 0% 0 0%;
  }

  .info-card
  {
    width: 50vw;
  }
}

@media (min-width: 580px) and (max-width: 720px) {
  .modify-account
  {
    margin : 30% 0 0 0;
  }
}


/*---------------- FIN mon Compte ----------------*/


/*---------------- SideBar ----------------*/

.sidebar{
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

a:visited {color: #FFFF;}

a:hover {color: #311d86;}

a:focus {color: #cfcc1f;}

h3{
  text-align: center;
}

.logo{
  padding: 5%;
  white-space: nowrap;
}

.liste {
  white-space: pre-line;
}



/*---------------- FIN SideBar----------------*/