
    <script src="https://kit.fontawesome.com/ecbff98221.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    {# Classes Bootstrap #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/css/style.css">
    {# JQuery #}
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 
{# Tableau des musiques de la playlist #}
{% block content %}
{% for key, musique in listeMusiques %}
  <div class='hiddenVideoID' data-id="{{ musique.source }}" id="videoid{{key}}"></div>
{% endfor %}
			<div class="d-none" id="video-placeholder"></div>
			<div class='media-controls p-4 pb-0'>
				<div class='media-progress'>
					<input type="range" id="progress-bar" class='mediaplayer-bar' value="0">
					<p><span id="current-time">0:00</span> / <span id="duration">0:00</span></p>
				</div>
				<div class='media-buttons row'>
				<div class='col-1 col-lg-2' style="display: block; margin: auto;">
					<input id="volume-input" type="range" max="100" min="0">
				</div>

				<div class="col-1 offset-1 offset-lg-2">
					<button id="prev" class='back-button media-button' label='back'>
					<i class='fas fa-step-backward button-icons'></i>
					</button>
				</div>

				<div class="col-1 offset-1">
					<div class="box">
					</div>
				</div>
				<div class="col-1 offset-1">
					<button id="next" class='skip-button media-button' label='skip'>
					<i class='fas fa-step-forward button-icons'></i>
					</button>
				</div>
				<div class="offset-4"></div>				
			
				</div>
			</div>

{% endblock %}


{% block javascript %}
<script src="/assets/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"> 
</script>
<script>
const { BrowserWindow } = require('electron')
const win = new BrowserWindow({ width: 800, height: 600, frame: false })
win.show()

</script>
{% endblock %}