{% block navbar %}
  <nav class="navbar navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home/index">
        <img src="/assets/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-Explorer col-1">
              <a class="nav-link" href= "/explorer/index">Explorer<span class="sr-only"></a>
            </li>
            <li class="nav-login col-2">

            {# Revoir cette partie avec Twig #}

            <li class="nav-myAccount col-2">
              <a class="nav-link" href="/myAccount/index">Mon compte<span class="sr-only"></a>
            </li>
            {# <li class="nav-myAccount col-2">
              <a class="nav-link" href="#">Se déconnecter<span class="sr-only"></a>
            </li> #}
            <li class="nav-Login col-7">
              <a class="nav-link" href="/Login/index">S'inscrire<br>Se connecter</br><span class="sr-only"></a>
            </li>

        </div>

        {# Le deuxième collapse-navbar permet de placer la barre de recherche au centre #}

          <div class="container">
            <div class="row">
              {# Pour la barre de recherche #}
              <input class="col-7 searchBar form-control" type="search" placeholder="Votre recherche" aria-label="Search">
              {# Pour le bouton search-bar #}
              <button class="searchButton btn btn-secondary" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#909090" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </div>
          </div>
          
          </ul>
        </div>
      </div>
  </nav>
{% endblock %}
