{% block navbar %}
    {# <nav>
        <a href= "/explorer/index">Explorer</a>
        <a href="/home/index">Home</a> 
        <a href="/login/index">Login/Signup</a>
        <a href="/myAccount/index">Mon compte</a>
    </nav> #}

    <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <a href= "/explorer/index">Explorer</a>
        <a href="/home/index">Home</a> 
        <a href="/login/index">Login/Signup</a>
        <a href="/myAccount/index">Mon compte</a>
    </nav>
</div>
{% endblock %}
