{% extends 'layout.html.twig' %}

{% block navbar %}
    <nav>
        <a href="../Explorer.index.html.twig"></a>
        <a href="../Home.index.html.twig"></a> 
        <a href="../Login-Signup.index.html.twig"></a>
        <a href="../MyAccount.index.html.twig"></a>
    </nav>
{% endblock %}
