{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light pb-0">
  <div class="container-fluid">
    <a id='nav-element-mobile' class="navbar-brand col-1 p-0" href="/home/index">
      <img src="/assets/images/logo.png" alt="logo">
    </a>
    <form id='nav-element-mobile' method="POST" action="/explorer"  class="w-100 pt-2 col-6">
        <input class="searchBar form-control" name="search" type="search" placeholder="Votre recherche" aria-label="Search">
    </form> 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="row w-100">
        <ul class="navbar-nav w-100">

          {# Si l'utilisateur EST connecté, alors on affiche seulement les boutons suivants #}
            {% if is_logged %}
                <li class="navbar-brand col-1 p-0">
                  <a id='nav-element-desktop'  href="/home/index">
                    <img src="/assets/images/logo.png" alt="logo">
                  </a> 
                </li>
                <li id='nav-element-desktop' class="nav-Explorer col-3">
                  <a class="nav-link text-white" href="/explorer/index" >Explorer<span class="sr-only"></a>
                </li>
                <li id='nav-element-desktop' class="w-100 pt-2 col-4">
                  <form method="POST" action="/explorer">
                    <input class="searchBar form-control" name="search" type="search" placeholder="Votre recherche" aria-label="Search">
                  </form>                
                </li>
                <li id='nav-element-desktop' class="nav-Login col-3">
                  <a class="nav-link text-white"  href="/myAccount/index">Mon compte<span class="sr-only"></a>
                </li>
                <li id='nav-element-desktop' class="nav-Login col-1">
                  <a class="nav-link" href="/logOut/index">
                    <i class="bi bi-box-arrow-right" style="color:white; font-size:1.5em" ></i>
                    <span class="sr-only">
                  </a>
                </li>
                <li id='nav-element-mobile' class="nav-Explorer">
                  <a class="nav-link text-white" href="/explorer/index" >Explorer<span class="sr-only"></a>
                </li>
                <li id='nav-element-mobile' class="nav-Login">
                  <a class="nav-link text-white"  href="/myAccount/index">Mon compte<span class="sr-only"></a>
                </li>
                  <li id='nav-element-mobile' class="nav-Login">
                  <a class="nav-link" href="/logOut/index" style='color:white'>Déconnexion</a>
                </li>
              {# Si l'utilisateur N'EST PAS connecté, alors on affiche les boutons suivants #}
            {% else %}  
                <li>
                  <a id='nav-element-desktop' class="navbar-brand col-1 p-0" href="/home/index">
                    <img src="/assets/images/logo.png" alt="logo">
                  </a> 
                </li>
                <li id='nav-element-desktop' class="w-100 pt-2 col-6 offset-3">
                  <form method="POST" action="/explorer">
                    <input class="searchBar form-control" name="search" type="search" placeholder="Votre recherche" aria-label="Search">
                  </form>                
                </li>
                <li id='nav-element-desktop' class="nav-Login-1 col-1 offset-2">
                  <a class="nav-link" href="/login/index">
                    <i class="far fa-user" style="color:white; font-size: 1.5em"></i>
                    <span class="sr-only">
                  </a>
                </li>
                <li id='nav-element-mobile' class="nav-Login">
                  <a class="nav-link" href="/login/index" style='color:white'>Inscription | Connexion</a>
                </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>

  <script>
    document.querySelector('[name="search"]').addEventListener('keyup', event => {
      const searchValue = event.currentTarget.value;

      const form = new FormData();
      form.append('search', searchValue);

      fetch('/explorer/searchAjax', {
        method: 'POST', 
        body: form,
      })
        .then(response => response.text())
        .then(html => {
          // On met à jour le contenu du div search-result avec le html retourné par searchAjax
          document.querySelector('.search-result').innerHTML = html;
        });
    }, false);
  </script>
{% endblock %}
