{% block navbar %}
    <nav>
        <a href="../Explorer.index.html.twig">Explorer</a>
        <a href="../Home.index.html.twig">Home</a> 
        <a href="../Login-Signup.index.html.twig">Login/Signup</a>
        <a href="../MyAccount.index.html.twig">Mon compte</a>
    </nav>
{% endblock %}
