{% block navbar %}
    <nav>
        <a href= "/explorer/index">Explorer</a>
        <a href="/home/index">Home</a> 
        <a href="/loginSignup/index">Login/Signup</a>
        <a href="/myAccount/index">Mon compte</a>
    </nav>
{% endblock %}
