{% for result in searchResults %}
    <div class="card mt-4 mb-4 ml-3 mr-3" style="width: 18rem;">
        {% include 'Components/playlist-card.html.twig' with  { playlist: result } %}
    </div>
{% endfor %}