{% block content %} 
    <ul>JE SUIS UNE SIDEBAR
    <li>élément 1</li>
    <li>élément 2</li>
    <li>élément 3</li>
    <li>élément 4</li>
    <li>élément 5</li>
    <li>élément 6</li>
 {% endblock %}