{% block sidebar %} 
  <div class="categorie p-2">
    <ul>
      <li><a href="/explorer/top3">#Top 3</a></li>
      <li><a href="/explorer/top10">#Top 10</a></li>

      {% if is_logged %}
        <li><a href="/explorer/myPlaylists">Mes playlists</a></li>

        {% for playlist in playlists %}
          <li>
            <a href="/myPlaylist/show/{{ playlist.id }}">
              {{ playlist.nom }}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
 {% endblock %}
