{% block sidebar %} 
<br>
<br>
<ul>
  <li><a href="">Playlist</a></li>
  <br>
  <li><a href="">Communauté</a></li>
  <br>
  <li><a href="">Musique</a></li>
</ul> 
<hr>
<div class="">
  <h3>TOP</h3>
  <br>
  <ul>
    <li><a href="">#Top 1</a></li>
    <br>
    <li><a href="">#Top 10</a></li>
    <br>
    <li><a href="">#Top 100</a></li>
  </ul>
</div>
<hr>
<ul>
  <br>
  <li><a href="">New</a></li>
  <br>
  <li><a href="">Genre</a></li>
  <br>
  <li><a href="">Mes plalist</a></li>
  <br>
  <li><a href="">Meilleur playlist du mois</a></li>
<ul>
 {% endblock %}
