{% block sidebar %} 
  <div class="categorie p-2">
      <div>
        <ul>
          <li><a href="/explorer/top3">#Top 3</a></li>
          <li><a href="/explorer/top10">#Top 10</a></li>
          <li><a href="/explorer/myPlaylists">Mes playlists</a></li>
        </ul>
      </div>

  </div>
 {% endblock %}
