{% block sidebar %} 
  <div class="categorie p-2">
    <ul>
      <li><a href="">Playlist</a></li>
      <li><a href="">Communauté</a></li>
      <li><a href="">Musique</a></li>
    </ul> 
      <ul>
        <li><a href="">Playlist</a></li>
        <li><a href="">Communauté</a></li>
        <li><a href="">Musique</a></li>
      </ul> 
      <div>
        <ul>
          <li><a href="">#Top 1</a></li>
          <li><a href="">#Top 10</a></li>
          <li><a href="">#Top 100</a></li>
        </ul>
      </div>
      <ul>
        <li><a href="">New</a></li>
        <li><a href="">Genre</a></li>
        <li><a href="">Mes playlists</a></li>
      </ul>
    <ul>
      <li><a href="">New</a></li>
      <li><a href="">Genre</a></li>
      <li><a href="">Mes playlists</a></li>
    </ul>

    <div class="logo mx-auto">
      <a href=""><img src="/assets/images/github.png"></a>
      <a href=""><img src="/assets/images/wild.png"></a>
    </div>
  </div>
 {% endblock %}
