{% extends 'layout.html.twig'%}

{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}

<div class="container">
    <div class="card cardLogout text-white text-center mt-5">
        <h5 class="card-title">Vous avez été <b>déconnecté</b> de votre compte <b>MasterCloud</b> </h5>
        <p class="card-text">Redirection vers la <b>page d'accueil</b> dans 3 secondes...</p>
    </div>
</div>

<script>setTimeout(() => document.location.href = "/", 3000)</script>

{% endblock %}

