{% extends 'layout.html.twig'%}

{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}

<h1> Vous avez été déconnecté de votre compte MasterCloud </h1>       

<p> Vous allez être redirigé vers la page d'accueil dans 5 secondes...</p>

{% endblock %}

{% block footer %}
    {% include 'Components/mediaplayer.html.twig'%}
{% endblock %}
