{% extends 'layout.html.twig' %}
{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}


{% block content %}
    <div class="col-12">
        <h1> Explorer </h1>       

        {# Test boucle pour rendu thumbnails de playlist #}
        <div class="row">
        {% for i in 0..50 %}
            <div class="card mt-4 mb-4 ml-3 mr-3" style="width: 18rem;">
            <img src="https://picsum.photos/300/200"  class="card-img">
        </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}

{% block footer %}
    {% include 'Components/footer.html.twig'%}
{% endblock %}