{% extends 'layout.html.twig' %}
{% block header %}
    {% include 'Components/header.html.twig'%}
{% endblock %}


{% block content %}
    <h1> Explorer </h1>
{% endblock %}

{% block footer %}
    {% include 'Components/footer.html.twig'%}
{% endblock %}