{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}

{% block content %}
    <div class="col-12"> 
        <h1>Explorer</h1>

        <div class="row search-result">
            {% include 'Components/playlist-list.html.twig' with {
                playlists: playlists
            }%}
        </div>
{% endblock %}