{% extends 'layout.html.twig' %}
{% block navbar %}
    {% include 'Components/navbar.html.twig'%}
{% endblock %}


{% block content %}
    {% include 'Components/sidebar.html.twig'%}
    <div class="col-9">
        <h1> Explorer </h1>
    {% include 'Components/footer.html.twig'%}
    </div>
{% endblock %}
